#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

#home{
    height: 370px;
    padding: 3px 68px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
#services-container .text{
    font-size: 1rem;
    margin-top: 30px;
}
#services{
     flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 20px;
    margin-bottom: 20px;
}
#client-section{
    font-size: 1rem;
}
#clients{
    flex-wrap: wrap;
}
#clients img{
    flex-wrap: wrap;
    display: inline-block;
    width: 60px;
    padding: 4px 26px;
    height: auto;
}
.text{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 2px 8px;
}
#contact::before{
    height: 600px;
}
#contact .text{
    margin-top: 216px;
}
#conact-box form{
    width: 80%;
}

